.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  height: 100%;
  column-gap: 20px;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
  justify-content: center;
}
.btn {
  display: inline-block;
  background-color: #1c7ed6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
form input {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}
form input:focus {
  outline: none;
}
