:root {
  --primary-color: #228be6;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
}
h1,
h2 {
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 24px;
}
h3 {
  font-weight: 400;
}
p {
  margin-bottom: 10px;
  font-weight: 200;
}
img {
  width: 100%;
  vertical-align: middle;
}
.bg-grey {
  background: #f7f7f7;
}
a {
  text-decoration: none;
  color: #333;
}
section > .container {
  max-width: 1170px;
  margin: auto;
  padding: 30px 50px;
}

/* utinities */
.text-center {
  text-align: center;
}
.mx {
  margin-left: 20px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 25px;
  height: 100%;
}
.cardd {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  position: relative;
}
.btn {
  display: inline-block;
  padding: 3px 10px;
  background: var(--primary-color);
  border-radius: 10px;
  color: #f7f7f7;
}
.btn:hover {
  transform: scale(1.1);
}
/* baner */
#banner {
  position: relative;
  margin: 0 50px;
  height: 50vw;
  background-image: linear-gradient(
      1deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
/* navr */
#nav-bar .container {
  padding: 0 50px;
}
#nav-bar {
  position: relative;
}
.nav-info {
  flex-basis: 150px;
  display: inline-block;
  line-height: 50px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.nav-img {
  display: inline-block;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#nav-bar .text {
  flex-basis: 300px;
}
#nav-bar a {
  text-transform: uppercase;
  display: inline-block;
  padding: 3px;
}
#nav-bar a:hover {
  transform: scale(1.1);
}
#nav-bar i {
  color: var(--primary-color);
}

/* about */
#personal-info {
  padding-left: 40px;
}
#about .section-title {
  margin-bottom: 40px;
}
#about ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding-left: 0;
}
#about span {
  font-weight: 600;
}
#about ul.icon {
  display: flex;
}
#about a {
  display: inline-block;
  padding: 3px 5px 3px 0;
}
#about a:hover {
  transform: scale(1.5);
}
#about i {
  color: var(--primary-color);
  font-size: 20px;
  margin-right: 10px;
}
/* job */
#job-info .grid {
  grid-template-columns: repeat(3, 1fr);
}
#job-info i.main-icon {
  font-size: 40px;
  position: absolute;
  right: 50px;
}
#job-info h1 {
  margin-bottom: 40px;
}
#job-info ul {
  margin-left: 20px;
}
#job-info ul li {
  margin-bottom: 30px;
}
#job-info ul li::marker {
  color: var(--primary-color);
}
#job-info a {
  display: inline-block;
  padding: 3px 10px;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 9px;
}

span.good,
span.bad {
  height: 2px;
  width: 50px;
  background-color: var(--primary-color);
  display: inline-block;
  margin-bottom: 10px;
}
span.bad {
  background-color: rgba(195, 202, 202, 0.814);
}
.main-block {
  display: flex;
  justify-content: space-between;
}
.block {
  flex-direction: column;
}
.job-box {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin-bottom: 10px;
}
.sub-icon {
  color: var(--primary-color);
  margin: auto auto;
}
/* certificate */
#certificate h1 {
  margin-bottom: 30px;
}
#certificate .flex {
  line-height: 1.2;
  justify-content: left;
}
#certificate .flex h4 {
  margin-bottom: 10px;
}
#certificate .box-img {
  flex-basis: 200px;
  margin-right: 20px;
}

.certificate-box1 {
  border-right: 1px solid orange;
}
.certificate-box3 {
  grid-column: 1/-1;
  border-top: 1px solid orange;
  padding-top: 40px;
}
/* project */
#project h1 {
  margin: 10px auto;
}
#project .grid {
  grid-template-columns: repeat(3, 1fr);
}
#project .project-box {
  border: 1px solid #ddd;
}
#project .project-box h1 {
  font-weight: 300;
}
#project .box-content {
  padding-left: 10px;
}
.flex1 {
  display: flex;
  border-top: 1px solid #ddd;
}
.flex1 .left {
  flex-basis: 30%;
  margin-right: 10px;
}
.flex1 .right {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
}
.project-name {
  border-top: 1px solid #ddd;
}
#project .info {
  border-top: 1px solid #ddd;
  padding: 5px 0px;
}
#project .btn {
  border-radius: 15px;
}

/* footer */
#footer .box {
  margin: 0 10px;
}
#footer a {
  display: inline-block;
  padding: 3px 10px;
  font-size: 24px;
}
#footer a:hover {
  transform: scale(1.1);
}
#footer i {
  color: var(--primary-color);
  font-size: 24px;
}
