/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* navbar */
  #nav-bar .text {
    display: none;
  }
  /* about */
  #about #personal-info {
    padding-left: 0;
    margin-top: 40px;
  }
  /* job */
  #job-info .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /* certificate */
  #certificate .flex {
    flex-wrap: wrap;
  }
  #certificate .flex .box-img {
    margin-bottom: 20px;
    flex-basis: 100%;
  }
  #certificate .certificate-box3 .box-img {
    flex-basis: 44%;
  }
  .certificate-box3 .box-content {
    flex-basis: 100%;
  }
  /* project */
  .flex1 .right .company {
    flex-basis: 100%;
  }
}
